* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.section1 {
  margin-top: 90px;
  margin-bottom: 60px;
  height: 35vh;
  width: 100%;
  color: white;
  text-align: center;
}

.section1 p {
  padding: 30px;
  font-weight: 400;
}

.section2 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 80px;
  text-align: center;
}

.try {
  display: inline-block;
  background-color: hsl(248, 32%, 49%);
  border-radius: 8px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 90%;
  height: 100px;
  color: white;
  font-size: 1rem;
  line-height: 30px;
  box-shadow: 0px 8px hsl(0, 51%, 61%);
}

.try #free {
  font-weight: 700;
}

.try #then {
  font-weight: 400;
}

.form {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 8px hsl(0, 51%, 61%);
}

.form input {
  display: inline-block;
  width: 85%;
  height: 55px;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1.6px solid lightgray;
}

.form input::placeholder {
  font-weight: 600;
}

.form #claim {
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px hsl(154, 52%, 42%);
}

.footer {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.8rem;
}

.footer #by {
  color: hsl(246, 25%, 77%);
}

.footer #terms {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}
